.mainContainer{
    background-color: #162433;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 8rem;
    left: 0;
    bottom: 0;
    color: #B2CCD6;
}

.mainContainer p{
    margin-top: 3rem;
}