.authorName {
    font-size: 10vh;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 12s ease infinite;
    position: static;
    margin: 0;
}

.subText {
    font-size: 8vh; 
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
    color: inherit;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mainContainer {
    padding: 0 1vh 8vw 1vh;
    flex-direction: column;
    display: flex;
    color: #B2CCD6;
    justify-content: center; 
    align-items: center;
}

.shimmer{
    display: flex;
    position: absolute;
    align-self: center;
    background: linear-gradient(-100deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: shimmer 2s infinite linear;
    border-radius: 10rem;
    filter: blur(5vw); 
    width: 15%;
    margin-top: -25vh;
    height: 25vh;
}

@media screen and (max-width: 960px) {
    .shimmer {
        filter: blur(8vw); 
        width: 25%;
        margin-top: -34vh;
        height: 33vh;
    }
}

@media screen and (max-width: 560px) {
    .shimmer {
        filter: blur(10vw); 
        width: 35%;
        margin-top: -44vh;
        height: 41vh;
    }
}

@keyframes shimmer {
	0% {
        opacity: 0.0;
		transform:translateX(-300%);
	}
    10%{
        opacity: 0.0;
    }
    20%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.25;
    }
	100% {
        opacity: 0.1;
		transform:translateX(300%);
	}
}

.mainContainer a {
    margin: 0 2vw 0 0;   
    align-self: center;
    justify-content: center;
    padding: 0.8vw 0.8vw 0.8vw 0.8vw;
    font-size: 3vh;
    color: #B2CCD6;
    text-decoration: none;
    background-color: #171B24;
    border-radius: 0.4rem;
}
.mainContainer a:hover {
    background-color: #383F4B;
}