.nav{
    background-color: inherit;
    color: #B2CCD6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 0 5vw;
    padding-top: 2vh;
    padding-bottom: 10vh;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2vw;
    align-items: start;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    font-size: 2vh;
    padding: .25vw;  
    padding: 0.8vw 0.8vw 0.8vw 0.8vw;

}

.nav a.active {
    background-color: #1C212B;
    border-radius: 0.4rem;
}

.nav a:hover{
    background-color: #383F4B;
    border-radius: 0.4rem;
}

.siteName{
    align-items: center;
    font-size: 15vw;
    font-weight: bold;
}
